/db/*
/docker/nginx/logs/*
/app/vendor/*
/app/frontend/web/assets/*
/app/backend/web/assets/*
/app/api/runtime/*
/app/console/runtime/*
/app/frontend/runtime/*
/app/backend/runtime/*

/app/backend/config/codeception-local.php
/app/backend/config/main-local.php
/app/backend/config/params-local.php
/app/backend/config/test-local.php


/app/api/config/main-local.php
/app/api/config/params-local.php

/app/common/config/codeception-local.php
/app/common/config/main-local.php
/app/common/config/params-local.php
/app/common/config/test-local.php

/app/console/config/main-local.php
/app/console/config/params-local.php
/app/console/config/test-local.php

/app/frontend/config/codeception-local.php
/app/frontend/config/main-local.php
/app/frontend/config/params-local.php
/app/frontend/config/test-local.php